$background-dark: #1c1c1f;
$background-dark-lighter: #323337;
$lightgray: #adadaf;
$lightblue: #4ca6ff;
$lightblue-dimmed: #317bc5;
$lightblue-gradient: linear-gradient(45deg, rgb(49, 123, 197), rgb(76, 166, 255));
